<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sha">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sha">
        <activity android:name=".courses.DigitalCourse"></activity>
        <activity android:name=".courses.ProjectCourse" />
        <activity android:name=".courses.FullStackDeveloper" />
        <activity android:name=".courses.CloudComputing" />
        <activity android:name=".courses.Bigdata" />
        <activity android:name=".development.InternView" />
        <activity android:name=".coding.CodingView" />
        <activity android:name=".development.AllDevelopment" />
        <activity android:name=".webdesign.WebDevelopment" />
        <activity android:name=".coding.CodingLanguages" />
        <activity android:name=".internship.InternshipDetials" />
        <activity android:name=".mainpage.HomeActivity" />
        <activity android:name=".ComingSoon" />
        <activity android:name=".VerifyOTP" />
        <activity android:name=".Registration" />
        <activity android:name=".LoginPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>